{% extends 'EtheriqLesson6Bundle::index.html.twig' %}

{% block body %}
    <div class="container">
        {% include ('EtheriqLesson6Bundle:Pages:menu.html.twig') %}
        Hello this is default page

    </div>
{% endblock body %}